<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ru-RU' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>

    <!-- Подключаем стили темы Cayman -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <meta name="description" content="{{ site.description }}">
  </head>

  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title }}</h1>
      {% if site.description %}
        <h2 class="project-tagline">{{ site.description }}</h2>
      {% endif %}

      <!-- Красивая кнопка вместо View on GitHub -->
      <a href="https://t.me/ksupsy_bot" class="btn">💬 Написать Ксю</a>
    </section>

    <section class="main-content">
      {{ content }}

      <!-- Кастомный футер -->
      <footer class="site-footer">
        <span>© 2025 {{ site.title }} — цифровой психолог онлайн 24/7.</span>
      </footer>
    </section>
  </body>
</html>
